* {
    margin: 0;
}
@font-face {
    font-family: "My Custom Font";
    src: url("fonts/Alien-Encounters-Bold.ttf") format("truetype");
}
h1 {
    font-family: "My Custom Font";
    font-size: 4rem;
    text-align: center;
    color: #9c57ff;
}

header {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4.5rem;
    max-width: 80vw;
    margin: auto;
}
div {
    color: #f34868;
}

form {
    background: #6bd4f3;
    margin: 2rem;
    padding: 2rem;
    background: linear-gradient(to bottom right, #00f9ff, #fdff00)
}

table {
    border: 1.5px solid greenyellow;
    background: #7fffc2;
    padding: 3rem;
    grid-column: span 2;
}

#elevside {
    background: coral;
}

#adminside {
    background: darkslateblue;
    padding: 3rem;
}

#GoAdministrator {
    border: solid plum 3px;
    background: #515151;
    width: 37.5vw;
    height: 35vh;

    text-align: center;
    float: left;
}

#GoElevside {
    border: solid orange 3px;
    background: #a1a1a1;
    width: 37.5vw;
    height: 35vh;
    margin: 0 2.5vw ;
    text-align: center;
    float: left;
}

#text {

}

#blank {


}

.front_welcome {
   align-content: center;
    align-items: center;
    padding-top: 14.5vw;
    padding-left: 7.1vw;
}

.customfont {
    font-family: "My Custom Font";
    font-size: 5rem;

    line-height: 350px;
    white-space: nowrap;
}



* {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}



.text {
    font-size: 4vw;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1vw;
    color: transparent;
    width: 100%;
    text-align: center;
    mix-blend-mode: screen;
}

table {
    padding: 2rem;
    margin: 2rem;
    width: 40vw;
}

table thead tr td {
    font-weight: bold;
    color: #090D19;
}

tbody tr td {
    text-transform: capitalize;
}
